<!-- views/partials/header.ejs -->
<script type='text/javascript' src="<%- info.client_script %>"></script>
    <div class="header">
        <a href="/">Home</a> 
        <br>
        <a href="/nationdata/<%- info.code %>/summary">Summary</a> 
		<a href="/nationdata/<%- info.code %>/economy">Economy</a>
        <a href="/nationdata/<%- info.code %>/trade">Trade</a>
		<a href="/nationdata/<%- info.code %>/military">Military</a>
        <br>
        <h3>VALIDITY: <%= info.valid %></h3>
        <p>
            [Coal: <%= info.coal %>]
            [Food: <%= info.food %>]
            [Iron: <%= info.iron %>]
            [Oil: <%= info.oil %>]
            [Rubber: <%= info.rubber %>]     
        </p>
        <p>
            [GDP: <%- info.gdp %>]
            [Workers: <%- info.workers %>]
            [Factories: <%- info.factory_count %>/<%- info.u_total %>]
            [Ports: <%- info.port_count %>/<%- info.u_naval %>]
        </p>
        <h1><%= info.name %></h1>
        <input value="<%- info.name %>" id="nations.name">
        <br><br>
        <img src="<%= info.url %>" alt="Flag" width="200" height="100">
        <p>Flag URL:</p><input value="<%- info.url %>" id="flags.url">
        <br><br>
        <button onclick="save(&quot;saveFlag&quot;)">SAVE</button>
    </div>