<!DOCTYPE html>
<html>

<head>
    <title>Economy</title>
</head>

<body>
	<%- include('partials/header', {info}); %>
	
    <h1>ECONOMY</h1>
	<h2>POPULATION (M)</h2>
        <p>Core Population:</p> <input value="<%- info.pop_core %>" id="nations.pop_core">
	    <p>Colonial Population:</p> <input value="<%- info.pop_colonial %>" id="nations.pop_colonial">
        <br><br>
        <button onclick="save(&quot;savePopulation&quot;)">SAVE</button>
    <h2>BLOCKADE</h2>
        <p>Blockade Level:</p> <input value="<%- info.bloc_level %>" id="nations.bloc_level">
        <br><br>
        <button onclick="save(&quot;saveBlockade&quot;)">SAVE</button>
    <h2>POWER PLANTS</h2>
        <p>Coal Plants:</p><input value="<%= info.coal_plants %>" id="buildings.coal_plants">
        <p>Oil Plants:</p><input value="<%= info.oil_plants %>" id="buildings.oil_plants">
        <br><br>
        <button onclick="save(&quot;savePlants&quot;)">SAVE</button>
    <h2>RESOURCES</h2>
        <p>Coal Mines:</p><input value="<%= info.coal_mines %>" id="buildings.coal_mines">
        <p>Farms:</p><input value="<%= info.farms %>" id="buildings.farms">
        <p>Iron Mines:</p><input value="<%= info.iron_mines %>" id="buildings.iron_mines">
        <p>Oil Drills:</p><input value="<%= info.oil_drills %>" id="buildings.oil_drills">
        <p>Rubber Farms:</p><input value="<%= info.rubber_farms %>" id="buildings.rubber_farms">
        <br><br>
        <button onclick="save(&quot;saveResources&quot;)">SAVE</button>
    <h2>BUILDINGS</h2>
        <p>Housing:</p><input value="<%= info.housing %>" id="buildings.housing">
        <p>Civil:</p><input value="<%= info.civil %>" id="buildings.civil">
        <p>Businesses:</p><input value="<%= info.businesses %>" id="buildings.businesses">
        <br><br>
        <button onclick="save(&quot;saveBuildings&quot;)">SAVE</button>
    <h2>FOREIGN BUSINESSES</h2>
        <p>Percent:</p><input value="0" id="foreign_businesses.percent">
        <p>Amount:</p><input  value="0" id="foreign_businesses.counts">
    <br><br>
    <button onclick="save(&quot;addForeignBusiness&quot;)">ADD</button>
    <br><br>
    <%- info.foreign_businesses %>
    <h2>FOREIGN RESOURCES</h2>
        <p>Food:</p><input    value="0" id="foreign_resources.food">
        <p>Coal:</p><input    value="0" id="foreign_resources.coal">
        <p>Iron:</p><input    value="0" id="foreign_resources.iron">
        <p>Oil:</p><input     value="0" id="foreign_resources.oil">
        <p>Rubber:</p><input  value="0" id="foreign_resources.rubber">
        <br><br>
        <button onclick="save(&quot;addForeignResources&quot;)">ADD</button>
        <br><br>
        <%- info.foreign_resources %>
    <br>
</body>

</html>
