<!DOCTYPE html>
<html>

<head>
    <title>Serber World Economy</title>
</head>

<body>
    <h1>SERBER SHEETS</h1>
    <img src='/resources/serberordeath.png' style='height:300px;vertical-align:bottom;'/>
    <p>Welcome to the new Serber Sheets.</p>
    <p> This is still in development. Expect updates and layout changess.<br><br>
        Since Google is no longer a backend, please excercise caution. Except bugs and potential site crashes. <br>
        We recommend you record your own nation data in a private document (e.g. notepad) should the database reset.
    </p>
    <h1>World Economy</h1>
    <% for (let i = 0; i < info.length; i++) { %>
        <img src="<%= info[i].url %>" alt="Flag" width="200" height="100">
        <h2><a href=/nationdata/<%= info[i].code %>><%= info[i].name %></a> GDP: <%= info[i].gdp %></h2>
        VALIDITY: <%= info[i].valid %><br><br><br><br>
    <% } %>
</body>

</html>
