<!DOCTYPE html>
<html>

<head>
    <title>Military</title>
</head>

<body>
	<%- include('partials/header', {info}); %>
	
    <h1>MILITARY</h1>
    <h2>MILITARY FACTORIES</h2>
        <h4>Available Factories: <%- info.factory_count %> / N</h4>
        <p>Aircraft Factories:</p><input value="<%= info.aircraft %>" id="military_buildings.aircraft">
        <p>Artillery Factories:</p><input value="<%= info.artillery %>" id="military_buildings.artillery">
        <p>Infantry Factories:</p><input value="<%= info.infantry %>" id="military_buildings.infantry">
        <p>Naval Factories:</p><input value="<%= info.naval %>" id="military_buildings.naval">
        <p>Tank Factories:</p><input value="<%= info.tank %>" id="military_buildings.tank">
        <p>Vehicle Factories:</p><input value="<%= info.vehicle %>" id="military_buildings.vehicle">
        <br><br>
        <button onclick="save(&quot;saveFactories&quot;)">SAVE</button>
    <h2>NAVAL ALLOCATION</h2>
        <h4>Unassigned: <%- info.naval_assignment.unassigned %></h4>
        <p>Small Vessels:</p><input value="<%= info.naval_assignment.small_vessels %>" id="naval_assignment.small_vessels">
        <p>Submarines:</p><input value="<%= info.naval_assignment.submarines %>" id="naval_assignment.submarines">
        <p>Destroyers:</p><input value="<%= info.naval_assignment.destroyers %>" id="naval_assignment.destroyers">
        <p>Cruisers:</p><input value="<%= info.naval_assignment.cruisers %>" id="naval_assignment.cruisers">
        <p>Battleships:</p><input value="<%= info.naval_assignment.battleships %>" id="naval_assignment.battleships">
        <p>Carriers:</p><input value="<%= info.naval_assignment.carriers %>" id="naval_assignment.carriers">
        <br><br>
        <button onclick="save(&quot;saveNavalAlloc&quot;)">SAVE</button>
	<h2>LAND FORCE DEPLOYMENT</h2>
        <img src='/resources/landdeployment.png' alt="Land Deployment Map" width="800" height="400">
        <%- info.military_deployment %>
        <br>
        <button onclick="save(&quot;saveLandDep&quot;)">SAVE</button>
    <h2>NAVAL FORCE DEPLOYMENT</h2>
        <img src='/resources/navaldeployment.png' alt="Naval Deployment Map" width="800" height="400">
        <%- info.naval_deployment %>
        <br>
        <button onclick="save(&quot;saveNavalDep&quot;)">SAVE</button>
    <h2>MILITARY LOSSES</h2>
        <p>Infantry:</p><input      value="0" id="military_losses.infantry">
        <p>Artillery:</p><input     value="0" id="military_losses.artillery">
        <p>Tanks:</p><input         value="0" id="military_losses.tanks">
        <p>Vehicles:</p><input      value="0" id="military_losses.vehicles">
        <p>Aircraft:</p><input      value="0" id="military_losses.aircraft">
        <p>Small Vessels:</p><input value="0" id="military_losses.small_vessels">
        <p>Destroyers:</p><input    value="0" id="military_losses.destroyers">
        <p>Cruisers:</p><input      value="0" id="military_losses.cruisers">
        <p>Battleships:</p><input   value="0" id="military_losses.battleships">
        <p>Carriers:</p><input      value="0" id="military_losses.carriers">
        <p>Description:</p><input             id="military_losses.description">
    <br><br>
    <button onclick="save(&quot;addLoss&quot;)">ADD</button>
    <br><br>
    <%- info.losses %>
</body>

</html>
