<!DOCTYPE html>
<html>

<head>
    <title>Summary</title>
</head>

<body>
	<%- include('partials/header', {info}); %>
	
    <h1>SUMMARY</h1>
	<h2>ECONOMY</h2>
        <h3>GDP: <%- info.gdp %></h3>
        <h3>Workers: <%- info.workers %></h3>
        <h3>Factories: <%- info.factory_count %> / <%- info.u_total %></h3>
        <h3>Ports: <%- info.port_count %> / <%- info.u_naval %></h3></h3>

    <h2>RESOURCES</h2>
        <h3>Coal: <%- info.coal %></h3>
        <h3>Food: <%- info.food %></h3>
        <h3>Iron: <%- info.iron %></h3>
        <h3>Oil: <%- info.oil %></h3>
        <h3>Rubber: <%- info.rubber %></h3>
    <h2>MILITARY STRENGTH</h2>
        <% for(const [key, value] of Object.entries(info.military_summary)) { %>
            <h3><%= key %>: <%= value %></h3>
        <% } %>
    <h2>MILITARY LOSSES</h2>
        <% for(const [key, value] of Object.entries(info.losses_summary)) { %>
            <h3><%= key %>: <%= value %></h3>
        <% } %>
</body>

</html>
