<!DOCTYPE html>
<html>

<head>
    <title>Trade</title>
</head>

<body>
	<%- include('partials/header', {info}); %>
	
    <h1>TRADE</h1>
	<h2>ADD TRADE</h2>
        <h4>Put positive value for TRADE IN, and a negative value for TRADE OUT.</h4>
        <p>GDP:</p><input value="0" id="trade.gdp">
        <p>Workers:</p><input value="0" id="trade.workers">
        <p>Food:</p><input value="0" id="trade.food">
        <p>Coal:</p><input value="0" id="trade.coal">
        <p>Iron:</p><input value="0" id="trade.iron">
        <p>Oil:</p><input value="0" id="trade.oil">
        <p>Rubber:</p><input value="0" id="trade.rubber">
        <p>Description:</p><input id="trade.description">
    <br><br>
    <button onclick="save(&quot;addTrade&quot;)">ADD</button>
    <h2>Trade list for <%- info.name %></h1>
    <%- info.trade %>
    <br>
</body>

</html>
